# Local netrc file
.netrc

# Terraform directories and files
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Terraform variables (sensitive)
terraform.tfvars
terraform.tfvars.json
*.auto.tfvars
*.auto.tfvars.json

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Ignore archive zip files
*.zip
